services:

  dev-ark-theisland:
    image: pyrr0/ark-ase-cluster:latest

    cpus: "1.0"
    cpuset: "0"
    mem_limit: 10g
    
    environment:
      MAP: TheIsland
      SESSION_NAME: ARK-TheIsland
      PORT: 8888
      QUERY_PORT: 9999
      RCON_PORT: 1313
      CLUSTER_ID: dev_arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_theisland_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-scorched:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "1"
    mem_limit: 10g

    environment:
      MAP: ScorchedEarth_P
      SESSION_NAME: ARK-Scorched
      PORT: 7787
      QUERY_PORT: 27115
      RCON_PORT: 27120
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_scorched_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-aberration:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "2"
    mem_limit: 10g

    environment:
      MAP: Aberration_P
      SESSION_NAME: ARK-Aberration
      PORT: 7797
      QUERY_PORT: 27215
      RCON_PORT: 27220
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_aberration_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-extinction:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "3"
    mem_limit: 10g

    environment:
      MAP: Extinction
      SESSION_NAME: ARK-Extinction
      PORT: 7807
      QUERY_PORT: 27315
      RCON_PORT: 27320
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_extinction_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-ragnarok:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "4"
    mem_limit: 10g

    environment:
      MAP: Ragnarok
      SESSION_NAME: ARK-Ragnarok
      PORT: 7817
      QUERY_PORT: 27415
      RCON_PORT: 27420
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_ragnarok_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-valguero:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "5"
    mem_limit: 10g

    environment:
      MAP: Valguero_P
      SESSION_NAME: ARK-Valguero
      PORT: 7827
      QUERY_PORT: 27515
      RCON_PORT: 27520
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_valguero_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-crystal:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "6"
    mem_limit: 10g

    environment:
      MAP: CrystalIsles
      SESSION_NAME: ARK-CrystalIsles
      PORT: 7837
      QUERY_PORT: 27615
      RCON_PORT: 27620
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_crystal_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-lostisland:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "7"
    mem_limit: 10g

    environment:
      MAP: LostIsland
      SESSION_NAME: ARK-LostIsland
      PORT: 7847
      QUERY_PORT: 27715
      RCON_PORT: 27720
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_lostisland_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-fjordur:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "8"
    mem_limit: 10g

    environment:
      MAP: Fjordur
      SESSION_NAME: ARK-Fjordur
      PORT: 7857
      QUERY_PORT: 27815
      RCON_PORT: 27820
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_fjordur_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-gen1:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "9"
    mem_limit: 10g

    environment:
      MAP: Genesis
      SESSION_NAME: ARK-Genesis1
      PORT: 7867
      QUERY_PORT: 27915
      RCON_PORT: 27920
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_gen1_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-ark-gen2:
    image: pyrr0/ark-ase-cluster:latest
    profiles: ["disabled"]

    cpus: "1.0"
    cpuset: "10"
    mem_limit: 10g

    environment:
      MAP: Gen2
      SESSION_NAME: ARK-Genesis2
      PORT: 7877
      QUERY_PORT: 28015
      RCON_PORT: 28020
      CLUSTER_ID: arkcluster
      ADMIN_PASSWORD: xxYY12345

    volumes:
      - dev_ark_gen2_data:/ark
      - dev_ark_cluster_data:/arkcluster
      - dev_ark_backups:/backups

    restart: unless-stopped

  dev-prometheus:
    image: prom/prometheus
    profiles: ["disabled"]
    volumes:
      - prometheus_data:/prometheus
      - prometheus_config:/etc/prometheus
    ports:
      - "9090:9090"
    restart: unless-stopped

  dev-grafana:
    image: grafana/grafana
    profiles: ["disabled"]
    volumes:
      - dev_grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    restart: unless-stopped


volumes:
  dev_ark_theisland_data:
  dev_ark_scorched_data:
  dev_ark_aberration_data:
  dev_ark_extinction_data:
  dev_ark_ragnarok_data:
  dev_ark_valguero_data:
  dev_ark_crystal_data:
  dev_ark_lostisland_data:
  dev_ark_fjordur_data:
  dev_ark_gen1_data:
  dev_ark_gen2_data:
  dev_ark_cluster_data:
  dev_ark_backups:
  dev_prometheus_data:
  dev_prometheus_config:
  dev_grafana_data:
